.title-section {
  width: 50vw;
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
}

.title-container {
  text-align: center;
}

.title {
  font-size: 3vw;
  text-transform: uppercase;
  margin: 0;
}

.img-container {
  text-align: center;
}

.img-container img {
  width: 30vw;
}

.img-credits {
  font-size: 0.75em;
}

a {
  text-decoration: none;
}